/* Esercizio 1 */
.ex-1-square:hover{
    background-color: red;
    transition: 3s;
}
/* Esercizio 2 */
.ex-2-square{
    transition: 3s;
}
.ex-2-square:active{
    width: 100%;
}
/* Esercizio 3 */
.ex-3-square:hover{
    border-radius: 50%;
    transition: 1s;
}
/* Esercizion 4 */
.ex-4-square:hover{
    opacity: 0%;
    transition: 3s;
}
/* Esercizio 5 */
.ex-5-square:hover{
    scale: 2;
    transition: 3s;
}
.ex-5-square:active{
    scale: calc(1/2);
    transition: 3s;
}
/* Esercizio 6 */
.ex-6-img:hover{
    filter: grayscale(100%);
}
/* Esercizio 7 completo */
.ex-7-img:hover{
    filter: blur(1px) grayscale(100%);
    transition: 3s;
}
/* Esercizio 8 */
.ex-8-img:hover{
    filter: brightness(2) grayscale(100%);
    border-radius: 20px;
    transition: 3s;
}
/* Esercizio 9 */
